body {
    width: 60%;
    box-sizing: border-box;
    margin: auto;
    font-family: 'Dancing Script', cursive;    
}

.navigation {
    background-color:red; 
    background-image: url("img/logo.png");
    position: sticky;
    top: 0;
    width: 100%;        
    padding-bottom: 7.5px;
    padding-top: 7.5px;
    margin: auto;
    text-align: center;    
}

.navigation li{
    display: inline-block;
    width: 15%;
    color: rgb(211, 211, 211);
    margin-bottom: 5px;
    font-size: 1rem;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;    
}

.heading {
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url("img/header-img.png");
    background-repeat: no-repeat;
    background-position: right;
}

.IOD {
    display: inline-block; 
    box-sizing: border-box;    
    width: 45%;
    text-align: center;
    vertical-align: top;
    padding-top: 2.5%;    
}

h1 {
    display: inline-block;
    font-size: 6rem;
    text-align: center;
    vertical-align: top;    
}

.IOD button{
    display: block;
    text-align: center;
    margin: auto;
    width: 25%;
}

.iodImg {
    display: inline-block;
    box-sizing: border-box;
    margin: auto;
    width: 45%;
    padding-left: 10%;
}

.section1 {
    display: inline-block;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: url("img/mid-page-accent.jpg");    
    background-size: 100%;    
    color: red;
}

.Features {
    display: inline-block;
    box-sizing: border-box;
    width: 49.5%;
    margin: auto;    
}

.About {
    display: inline-block;
    box-sizing: border-box;
    width: 49.5%;
    margin: auto;    
}

.middle-img {
    width: 100%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;    
}

.Services {
    display: inline-block;
    box-sizing: border-box;
    width: 33%;
    padding-top: 5%;
}

.Product {
    display: inline-block;
    box-sizing: border-box;
    width: 33%;
    padding-top: 5%;
}

.Vision {
    display: inline-block;
    box-sizing: border-box;
    width: 33%;
    padding-top: 5%;
}

address {
    padding-top: 3%;
    padding-bottom: 3%;
}

footer {
    text-align: center;
}

br {
    width: 100%;
}

